torch 
torchvision
huggingface_hub
transformers
pandas
fastapi
scikit-learn
asyncio
uvicorn
numpy
prometheus-client
fastapi
uvicorn
prometheus-client
prometheus-fastapi-instrumentor
python-logging-loki